<form [formGroup]="profileForm" (ngsubmit)="onSubmit()">
    <label for="firstName">First Name :</label>
    <input id="firstName" type="text" formControlName="firstName">

    <label for="lastName">Last Name :</label>
    <input for="lastName" type="text" formControlName="lastName">

    <div formGroupName="Address">
        <h2>Address</h2>
        <label for="city">City :</label>
        <input id="city" type="text" formControlName="city">

        <label for="zipCode">Zip Code :</label>
        <input id="zipCode" type="text" formControlName="zipCode">
    </div>
    <p> Form Status: {{profileForm.status}}</p>
    <p>Complete the form to enable button.</p>

    <button type="submit" disabled="!profileForm.valid">Submit</button>
    <div>{{ profileForm.valid }}</div>

    <button type="button" (click)="updateProfile()">Update Profile</button>
</form>